.closureEffect {

}

.btn {
    display: inline-block;
    padding: .5em 1em;
    margin-top: 1em;
    border-radius: 6px;
    background-color: #646cff;
    color: white;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
}

.btn:hover {
    background-color: #535bf2;
}