.figure {
    user-select: none;
    cursor: pointer;
    padding: 1.6em;
    border-radius: 50%;
    background-color: #c5a5cb;
    position: absolute;
    transition: left 2s cubic-bezier(0.4, 0, 0.2, 1), top 1s ease-in-out;
    will-change: left, top;
}

.pos0 {
    left: 5%;
    top: 10%;
}
.pos1 {
    left: 90%;
    top: 80%;
}