@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideOut {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #444;
    color: white;
    padding: 1em 2em;
    border-radius: .5em;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    opacity: 0;
}

.slideIn {
    animation: slideIn 1s forwards;
}

.slideOut {
    animation: slideOut 2s forwards reverse;
}
